 blinker==1.8.2 
click==8.1.7 
datasets==2.21.0 
googletrans==4.0.0rc1
gTTS==2.5.3 
normalizer@git+https://github.com/csebuetnlp/normalizer@d405944dde5ceeacb7c2fd3245ae2a9dea5f35c9 
numpy==1.26.4 
Pillow==10.4.0 
protobuf==5.27.3 
pytz==2024.1
PyYAML==6.0.2 
regex==2024.7.20 
SpeechRecognition==3.10.4
streamlit==1.37.1 
torch==2.4.0 
transformers==4.44.2 
typing_extensions==4.12.2 
urllib3==2.2.2
